# The U.S. Financial Crisis (2006 - 2016)

### In this project, we will be looking at bank stock prices between 2006 and 2016. We are interested in how the stocks of the following companies fluxuated during the financial crisis.  
       * Bank of America 
       * CitiGroup 
       * Goldman Sachs 
       * JPMorgan Chase 
       * Morgan Stanley 
       * Wells Fargo  
Stock datapoints will be sourced from AlphaVantage API.

In [3]:
#Imports 
import pandas_datareader as web
import os
from dotenv import load_dotenv 
import pandas as pd 
import numpy as np
import datetime
import matplotlib.pyplot as plt 
%matplotlib inline 
#Load alphavatage api key from secret .env file. 
%load_ext dotenv
%dotenv

#### Use the source_tickers.py program included in repo to extract and preprocess data from  the AlphaVantage API.

In [6]:
#Read extracted stock data into notebook. 
bank_stocks = pd.read_csv("./bank_stocks.csv")
bank_stocks.head()

,BAC,BAC.1,BAC.2,BAC.3,BAC.4,C,C.1,C.2,C.3,C.4,...,MS,MS.1,MS.2,MS.3,MS.4,WFC,WFC.1,WFC.2,WFC.3,WFC.4
0,open,high,low,close,volume,open,high,low,close,volume,...,open,high,low,close,volume,open,high,low,close,volume
1,46.92,47.18,46.15,47.08,16296700,49.0,49.38,48.11,49.29,15376000,...,57.17,58.49,56.74,58.31,5377000,63.2,63.95,62.39,63.8,5508200
2,47.0,47.24,46.45,46.58,17757900,48.86,49.1,48.35,48.38,18709000,...,58.7,59.28,58.35,58.35,7977800,63.6,63.64,62.73,63.06,5435000
3,46.58,46.83,46.32,46.64,14970700,48.44,48.78,48.4,48.62,11431000,...,58.55,58.59,58.02,58.51,5778000,63.0,63.11,62.62,62.99,5079000
4,46.8,46.91,46.35,46.57,12599800,48.88,48.9,48.2,48.62,13702000,...,58.77,58.85,58.05,58.57,6889800,63.16,63.55,62.77,63.36,4201900

### Exploratory Data Analysis.

In [5]:
#What's the max close price for each company stock during the Recession?
bank_stocks['Date']

KeyError: 'Date'